
:root{
	--body-bg: linear-gradient(90deg, rgba(89,0,3,1) 10.6995%, rgba(27,0,1,1) 100%);
	--body-radial-bg: radial-gradient(circle, rgba(27,0,1,1) 0%, rgba(89,0,3,1) 0%, rgba(27,0,1,1) 100%);
	--primary-gradient-bg: linear-gradient(90deg, rgba(180,126,16,1) 0%, rgba(248,222,123,1) 32.8041%, rgba(255,242,165,1) 52.404%, rgba(248,222,123,1) 72.9818%, rgba(180,126,16,1) 100%);
	--primary-title-gradient: -webkit-linear-gradient(90deg, rgba(180,126,16,1) 0%, rgba(248,222,123,1) 32.8041%, rgba(255,242,165,1) 52.404%, rgba(248,222,123,1) 72.9818%, rgba(180,126,16,1) 100%);
	--secondary-gradient-bg: linear-gradient(90deg, rgba(27,0,1,1) 0%, rgba(89,0,3,1) 71%, rgba(27,0,1,1) 100%);
}

html{
	margin: 0;
	height: 100%;
}

body{
	margin: 0;
	height: 100%;
	color: #fff;
	font-family: 'Microsoft YaHei', sans-serif;
	font-size: 12px;
	// background-image: url('/images/body-bg.png');
	// background-attachment: fixed;
	// background-position-x: center;
	// background-position-y: top;
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-attachment: fixed;
	// background-origin: initial;
	// background-clip: initial;
	background: var(--body-radial-bg);
}

a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
}

img {
	height: 100%;
	width: 100%;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
.mt-60{
	margin-top:60px;
}

.bg-black{
	background-color: #000;
}

.bg-white{
	background-color: #fff;
}
.bg-pink{
	background-color: pink;
}
.bg-green{
	background-color: green;
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}

.text-black{
	color: #000;

}
